@tailwind base;
@tailwind components;
@tailwind utilities;




#mobile-arrow-div {
    background: linear-gradient(135deg, rgba(248,191,191,1), rgba(238,140,140,1));
    width: 60px;
    height: 46px;
    border-radius: 9999px;
    outline: none;
    box-shadow: 0px 1px 14px 0px rgba(238,140,140,1);
}

#direct-arrow-parent-div{
    width: 60px;
    height: 46px;
}

#mobile-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (min-width:1280px){
    main {
        grid-template-columns: 54.5% 43.5%;
    }
}
@media (min-width:768px) and (max-width:1024px){
    p {
        margin:auto;
    }
}